* {
  -webkit-appearance: none;
  font-family: sans-serif;
  margin: unset;
  padding: unset;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100vh;
  width: 100%;
  margin: unset;
}

a {
  color: #171717;
}

#outside {
  height: 100%;
  width: 100%;
  display: table;
}

#inside {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.logo {
  font-size: 50pt;
  font-weight: bolder;
  letter-spacing: -2px;
  padding: unset;
  color: black;
}

.text {
  font-size: 14pt;
  font-weight: bold;
}

.code {
  font-family: monospace;
}
